html, body { font-family: $font-base; }

@import 'navbar';

@include global_input_style();

.banner-homepage-overlay {
  @include color_background_base( 0.7 );
  .banner-find-consultant {
    margin-top: 7rem;
    .banner-text {
      color: #ffffff;
      @include global_font_style(200, 42px, normal, 0.4px);
    }
    .banner-search-form {
      margin-top: 1rem;
      border: 2px solid #ffffff;
      background: transparent;
      border-radius: 30px;
      color: #333333;
      @include global_font_style( 400, 14px, normal, 0.4px );
      text-align: center;
      &:hover, &:focus {
        border: 1px solid lighten( $color-base, 35% );
        background: lighten( $color-base, 35% );
        &::placeholder {
          color: #333333;
        }
      }
      &::placeholder {
        color: #ffffff;
      }
    }
  }
}

.banner-index_header {
  color: #ffffff;
  @include global_font_style( 700, 56px, normal, 0.4px );
  @include color_gradient_base();
  height: 100px;
}
.banner-index_editprofile {
  height: 150px;
  @include color_gradient_base();
}

.card-panel {
  border-radius: 10px;
  @include global_font_style( 400, 14px, normal, 0.4px );
  .card-panel-title {
    @include global_font_style( 200, 28px, normal, 0.4px );
    text-align: center;
  }
  .card-link {
    a {
      color: #333333;
      @include global_font_style( 400, 13px, normal, 0.4px );
      text-align: center;
    }
  }
}

.container-editprofile {
  margin-top: -3rem;
  .sidebar-profile {
    .profile-name {
      color: #333333;
      @include global_font_style( 700, 18px, normal, 0.4px );
      text-align: center;
    }
    .profile-join {
      color: #333333;
      @include global_font_style( 400, 13px, normal, 0.4px );
      text-align: center;
    }
  }
}

.container-profile-consultant {
  margin-top: -7rem;
}
.card-consultant {
  border-radius: 10px;
  .consultant-panel-header {}
  .consultant-panel-body {
    .consultant-name {
      color: #333333;
      @include global_font_style( 700, 16px, normal, 0.4px );
      a {
        color: $color-base;
        @include global_font_style( 700, 16px, normal, 0.4px );
      }
    }
    .consultant-location {
      color: #888888;
      @include global_font_style( 400, 12px, normal, 0.4px );
    }
    .consultant-rating {
      color: #888888;
      @include global_font_style( 400, 12px, normal, 0.4px );
      .icon-rating {
        color: $color-rating;
      }
    }
  }

  .nav-profile-consultant {
    li {
      a, .nav-profile-title {
        color: #333333;
        @include global_font_style( 700, 16px, normal, 0.4px );
      }
      .nav-profile-content {
        color: #888888;
        @include global_font_style( 400, 13px, normal, 0.4px );
      }
    }
  }

  .consultant-profile-name {
    color: $color-base;
    @include global_font_style( 700, 36px, normal, 0.4px );
  }
  .consultant-profile-rating {
    .icon-rating {
      color: $color-rating;
      font-size: 14px;
    }
    .rating-level {
      color: #888888;
      @include global_font_style( 400, 14px, normal, 0.4px );
    }
    .rating-value {
      color: #888888;
      @include global_font_style( 400, 14px, normal, 0.4px );
    }
  }
}

.card-panel-feedbacks {
  .feedbacks-title {
    color: #666666;
    @include global_font_style( 700, 22px, normal, 0.4px );
  }
}

.modal-dialog {
  border-radius: 6px;
  .modal-title {
    color: #666666;
    @include global_font_style( 200, 24px, normal, 0.4px );
  }
}

.dropdown-timepicker {
  border-radius: 6px;
  .dropdown-timepicker-header {
    color: #666666;
    @include global_font_style( 300, 16px, normal, 0.4px );
    border-bottom: 2px solid #dddddd;
  }
  .dropdown-timepicker-content {
    height: 200px;
    overflow-y: scroll;
    .nav-timepicker {
      li {
        a {
          color: #333333;
          @include global_font_style( 400, 16px, normal, 0.4px );
          border-radius: 6px;
          padding: 8px 16px;
          &:hover, &:active {
            background: $color-base;
            color: #ffffff;
          }
        }
        .active {
          background: $color-base;
          color: #ffffff;
        }
      }
    }
  }
}

.container-request-list {
  .no-request-list {
    text-align: center;
    color: #333333;
    @include global_font_style( 200, 28px, normal, 0.4px );
  }
  .card-request-list {
    border-radius: 6px;
    border: 1px solid #dddddd;
    background: #f9f9f9;
    .request-id {
      color: #666666;
      @include global_font_style( 400, 12px, normal, 0.4px );
    }
    .request-time {
      color: #333333;
      @include global_font_style( 200, 52px, normal, 0.4px );
    }
    .request-date {
      color: #333333;
      @include global_font_style( 300, 24px, normal, 0.4px );
      margin-top: -0.7rem;
    }
    .request-pic {
      color: #888888;
      @include global_font_style( 300, 16px, normal, 0.4px );
    }
    .request-icon {
      color: #333333;
      &:hover, &:active { color: $color-base; }
    }
    .dropdown-request-nav {
      border-radius: 6px;
      padding: 0;
      .request-nav {
        li {
          a {
            color: #333333;
            @include global_font_style( 300, 13px, normal, 0.4px );
            padding: 10px 16px;
            &:hover, &:active {
              color: $color-base;
            }
          }
        }
      }
    }
  }
}
