html, body { font-family: $font-base; }

@import 'navbar';

@include global_input_style();

.banner-homepage-overlay {
  //@include color_background_base( 0.7 );
  .banner-text-homepage {
    background: $color-base;
    .banner-slider {
      .banner-slider-text {
        color: #ffffff;
        @include global_font_style(200, 48px, normal, 0.4px);
      }
    }
  }
}

.banner-index_header {
  color: #ffffff;
  @include global_font_style( 700, 56px, normal, 0.4px );
  @include color_gradient_base();
  height: 100px;
}
.banner-index_editprofile {
  height: 150px;
  @include color_gradient_base();
}

.card-panel {
  border-radius: 10px;
  @include global_font_style( 400, 14px, normal, 0.4px );
  .card-panel-title {
    @include global_font_style( 200, 28px, normal, 0.4px );
    text-align: center;
  }
  .card-link {
    a {
      color: #333333;
      @include global_font_style( 400, 13px, normal, 0.4px );
      text-align: center;
    }
  }
}

.container-editprofile {
  margin-top: -3rem;
  .sidebar-profile {
    .profile-name {
      color: #333333;
      @include global_font_style( 700, 18px, normal, 0.4px );
      text-align: center;
    }
    .profile-join {
      color: #333333;
      @include global_font_style( 400, 13px, normal, 0.4px );
      text-align: center;
    }
  }
}

.container-profile-consultant {
  margin-top: -7rem;
}
.card-consultant {
  border-radius: 10px;
  .consultant-panel-header {}
  .consultant-panel-body {
    .consultant-name {
      color: #333333;
      @include global_font_style( 700, 16px, normal, 0.4px );
      a {
        color: $color-base;
        @include global_font_style( 700, 16px, normal, 0.4px );
      }
    }
    .consultant-location {
      color: #888888;
      @include global_font_style( 400, 12px, normal, 0.4px );
    }
    .consultant-rating {
      color: #888888;
      @include global_font_style( 400, 12px, normal, 0.4px );
      text-align: center;
      .icon-rating {
        @include global_font_style( 400, 14px, normal, 0.4px );
        border: 1px solid $color-base;
        border-radius: 6px;
        color: $color-base;
        padding: 4px 8px;
      }
    }
  }

  .nav-profile-consultant {
    li {
      a, .nav-profile-title {
        color: #333333;
        @include global_font_style( 700, 16px, normal, 0.4px );
      }
      .nav-profile-content {
        color: #888888;
        @include global_font_style( 400, 13px, normal, 0.4px );
      }
    }
  }

  .consultant-profile-name {
    color: $color-base;
    @include global_font_style( 700, 36px, normal, 0.4px );
  }
  .consultant-profile-rating {
    .icon-rating {
      color: $color-rating;
      font-size: 14px;
    }
    .rating-level {
      @include global_font_style( 300, 14px, normal, 0.4px );
      border: 1px solid $color-base;
      border-radius: 6px;
      color: $color-base;
      padding: 4px 8px;
    }
    .rating-value {
      margin-left: 1rem;
      color: #888888;
      @include global_font_style( 700, 16px, normal, 0.4px );
    }
  }
}

.card-panel-feedbacks {
  .feedbacks-title {
    color: #666666;
    @include global_font_style( 700, 22px, normal, 0.4px );
  }
}

.modal-dialog {
  border-radius: 6px;
  .modal-title {
    color: #666666;
    @include global_font_style( 200, 24px, normal, 0.4px );
  }
  .modal-banner-top {
    @include color_gradient_base();
    min-height: 100px;
    border-radius: 6px 6px 0 0;
    .modal-banner-heading {
      color: #ffffff;
      @include global_font_style( 200, 36px, normal, 0.4px );
    }
    .request-time {
      color: #ffffff;
      @include global_font_style( 200, 48px, normal, 0.4px );
    }
    .request-date {
      color: #ffffff;
      @include global_font_style( 200, 36px, normal, 0.4px );
    }
  }
  .request-status-badge {
    padding: 4px 8px;
    color: #ffffff;
    @include global_font_style( 300, 12px, normal, 0.4px );
    background: $color-base;
    border-radius: 6px;
  }
  .upcoming { background: $color-base; }
  .accept { background: $green; }
  .decline { background: $red; }
  .cancel { background: $orange; }
  .done { background: $green; }
}

.dropdown-timepicker {
  border-radius: 6px;
  .dropdown-timepicker-header {
    color: #666666;
    @include global_font_style( 300, 16px, normal, 0.4px );
    border-bottom: 2px solid #dddddd;
  }
  .dropdown-timepicker-content {
    height: 200px;
    overflow-y: scroll;
    .nav-timepicker {
      li {
        a {
          color: #333333;
          @include global_font_style( 400, 16px, normal, 0.4px );
          border-radius: 6px;
          padding: 8px 16px;
          &:hover, &:active {
            background: $color-base;
            color: #ffffff;
          }
        }
        .active {
          background: $color-base;
          color: #ffffff;
        }
      }
    }
  }
}

.container-request-list {
  .no-request-list {
    text-align: center;
    color: #333333;
    @include global_font_style( 200, 28px, normal, 0.4px );
  }
  .card-request-list {
    border-radius: 6px;
    border: 1px solid #dddddd;
    background: #f9f9f9;
    .request-id {
      color: #666666;
      @include global_font_style( 400, 12px, normal, 0.4px );
    }
    .request-time {
      color: #333333;
      @include global_font_style( 200, 52px, normal, 0.4px );
    }
    .request-date {
      color: #333333;
      @include global_font_style( 300, 24px, normal, 0.4px );
      margin-top: -0.7rem;
    }
    .request-pic {
      color: #888888;
      @include global_font_style( 300, 16px, normal, 0.4px );
    }
    .request-icon {
      color: #333333;
      &:hover, &:active { color: $color-base; }
    }
    .request-status-badge {
      padding: 4px 8px;
      color: #ffffff;
      @include global_font_style( 300, 12px, normal, 0.4px );
      background: $color-base;
      border-radius: 6px;
    }
    .upcoming { background: $color-base; }
    .accept { background: $green; }
    .decline { background: $red; }
    .cancel { background: $orange; }
    .done { background: $green; }

    .dropdown-request-nav {
      border-radius: 6px;
      padding: 0;
      .request-nav {
        li {
          a {
            color: #333333;
            @include global_font_style( 300, 13px, normal, 0.4px );
            padding: 10px 16px;
            &:hover, &:active {
              color: $color-base;
            }
          }
        }
      }
    }
  }
}

.card-summary {
  border-radius: 6px;
  background: $color-base;
  padding: 20px 20px !important;
  .card-summary-value {
    color: #ffffff;
    @include global_font_style( 200, 54px, normal, 0.4px );
  }
  .card-summary-text {
    @include global_font_style( 200, 18px, normal, 0.4px );
  }
  .card-summary-text, .card-summary-icon { color: #ffffff; }
}

.messages-container {
  background: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 6px;
  min-height: 400px;
  .nav-message-container {
    background: #ffffff;
    border-right: 1px solid #dddddd;
    height: 479px;
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
    }
  }
  .nav-message-sender {
    li {
      a {
        background: #ffffff;
        color: #333333;
        @include global_font_style( 400, 18px, normal, 0.4px );
        text-align: center;
        padding: 8px 16px;
      }
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .messages-container-header {
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    height: 35px;
  }
  .messages-container-body {
    background: #f9f9f9;
    height: 260px;
    overflow-y: scroll;
    margin-top: 0px;
    &:hover {
      overflow-y: scroll;
    }
    .chat {
      height: 100%;
    }
  }
  .messages-container-footer {
    background: #ffffff;
    border-top: 1px solid #dddddd;
  }
}
