.headerhomepage {
  background: transparent;
  //border-bottom: 1px solid darken( $color-base, 10% );
  .navbarhomepage {
    .uk-logo {
      color: #333333;
      @include global_font_style( 700, 26px, normal, 0.4px );
      text-transform: capitalize;
    }
    .navhomepage {
      li {
        a {
          color: #333333;
          @include global_font_style( 700, 16px, normal, 0.4px );
          text-transform: capitalize;
          .count-notification {
            margin-top: -1rem;
            color: #ffffff;
            @include global_font_style( 700, 12px, normal, 0.4px );
            padding: 3px 8px;
            background: $color-base;
            border-radius: 2rem;
          }
        }
        .navbar-dropdown-homepage {
          border-radius: 6px;
          .dropdown-notification {
          }
          .no-notification {
            margin-top: 3.8rem;
            @include global_font_style( 400, 13px, normal, 0.4px );
            color: #888888;
          }
          .markas-read {
            color: #888888;
            @include global_font_style( 700, 12px, normal, 0.4px );
            text-decoration: none;
            &:hover, &:active { color: $color-base; }
          }
          .nav-dropdown-homepage {
            li {
              a {
                color: #333333;
                @include global_font_style( 600, 12px, normal, 0.4px );
                text-transform: capitalize;
              }
            }
          }
          .nav-dropdown-notification {
            li {
              a {
                color: #333333;
                @include global_font_style( 600, 12px, normal, 0.4px );
                text-transform: none !important;
              }
            }
          }
        }
      }
    }
  }
}

.headerdefault {
  background: #ffffff;
  //border-bottom: 1px solid darken( $color-base, 10% );
  .navbardefault {
    .uk-logo {
      color: #333333;
      @include global_font_style( 700, 26px, normal, 0.4px );
      text-transform: capitalize;
    }
    .navdefault {
      li {
        a {
          color: #333333;
          @include global_font_style( 700, 16px, normal, 0.4px );
          text-transform: capitalize;
          .count-notification {
            margin-top: -1rem;
            color: #ffffff;
            @include global_font_style( 700, 12px, normal, 0.4px );
            padding: 3px 8px;
            background: $color-base;
            border-radius: 2rem;
          }
        }
        .navbar-dropdown-default {
          border-radius: 6px;
          .dropdown-notification {
          }
          .no-notification {
            margin-top: 3.8rem;
            @include global_font_style( 400, 13px, normal, 0.4px );
            color: #888888;
          }
          .markas-read {
            color: #888888;
            @include global_font_style( 700, 12px, normal, 0.4px );
            text-decoration: none;
            &:hover, &:active { color: $color-base; }
          }
          .nav-dropdown-default {
            li {
              a {
                color: #333333;
                @include global_font_style( 600, 12px, normal, 0.4px );
                text-transform: capitalize;
              }
            }
          }
          .nav-dropdown-notification {
            li {
              a {
                color: #333333;
                @include global_font_style( 600, 12px, normal, 0.4px );
                text-transform: none !important;
              }
            }
          }
        }
      }
    }
  }
}

.navbar-event {
  border-bottom: 1px solid #dddddd;
  .nav-event {
    li {
      padding: 0;
      a {
        color: #333333;
        @include global_font_style( 300, 14px, normal, 0.4px );
        text-transform: capitalize;
      }
      .active {
        border-bottom: 2px solid $color-base;
        color: $color-base;
      }
    }
  }
}

.nav-profile {
  li {
    a {
      color: #333333;
      @include global_font_style( 400, 14px, normal, 0.4px );
      text-transform: capitalize;
      padding: 10px 16px;
    }
    .active {
      border-left: 2px solid $color-base;
      color: $color-base;
      background: lighten( $color-base, 40% );
    }
  }
}
