@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&display=swap);html,
body {
  font-family: "Nunito Sans", sans-serif;
}

.headerhomepage {
  background: transparent;
}

.headerhomepage .navbarhomepage .uk-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.headerhomepage .navbarhomepage .navhomepage li a {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.gl-label {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
}

.gl-input-default {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
}

.gl-input-default:hover,
.gl-input-default:focus {
  border: 1px solid #cdf2fc;
  background: #cdf2fc;
}

.gl-button-default {
  border-radius: 10px;
  border: 1px solid #25C4F2;
  color: #25C4F2;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
}

.gl-button-default:hover,
.gl-button-default:focus {
  background: #25C4F2;
  color: #ffffff;
}

.gl-button-primary {
  border-radius: 10px;
  background: #25C4F2;
  color: #25C4F2;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
}

.gl-button-primary:hover,
.gl-button-primary:focus {
  background: #55d1f5;
  color: #ffffff;
}

.banner-homepage-overlay {
  background: rgba(37, 196, 242, 0.9);
}

.banner-homepage-overlay .banner-find-consultant {
  margin-top: 7rem;
}

.banner-homepage-overlay .banner-find-consultant .banner-text {
  color: #ffffff;
  font-weight: 200;
  font-size: 42px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form {
  margin-top: 1rem;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover,
.banner-homepage-overlay .banner-find-consultant .banner-search-form:focus {
  border: 1px solid #cdf2fc;
  background: #cdf2fc;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-webkit-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-webkit-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-moz-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-moz-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover:-ms-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus:-ms-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-ms-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-ms-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::placeholder,
.banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-webkit-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-moz-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:-ms-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-ms-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::placeholder {
  color: #ffffff;
}

