@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&display=swap);html,
body {
  font-family: "Nunito Sans", sans-serif;
}

.headerhomepage {
  background: transparent;
}

.headerhomepage .navbarhomepage .uk-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.headerhomepage .navbarhomepage .navhomepage li a {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.headerdefault {
  background: #ffffff;
}

.headerdefault .navbardefault .uk-logo {
  color: #333333;
  font-weight: 700;
  font-size: 26px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.headerdefault .navbardefault .navdefault li a {
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.headerdefault .navbardefault .navdefault li .navbar-dropdown-default {
  border-radius: 10px;
}

.headerdefault .navbardefault .navdefault li .navbar-dropdown-default .nav-dropdown-default li a {
  color: #333333;
  font-weight: 600;
  font-size: 12px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.navbar-event {
  border-bottom: 1px solid #dddddd;
}

.navbar-event .nav-event li {
  padding: 0;
}

.navbar-event .nav-event li a {
  color: #333333;
  font-weight: 300;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.navbar-event .nav-event li .active {
  border-bottom: 2px solid #25C4F2;
  color: #25C4F2;
}

.nav-profile li a {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
  padding: 10px 16px;
}

.nav-profile li .active {
  border-left: 2px solid #25C4F2;
  color: #25C4F2;
  background: #e6f8fd;
}

.gl-label {
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.gl-input-default {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.gl-input-default:hover,
.gl-input-default:focus {
  border: 1px solid #3dcbf3;
  background: #eaf9fe;
}

.gl-button-default {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #25C4F2;
  color: #25C4F2;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.gl-button-default:hover,
.gl-button-default:focus {
  border: 1px solid #25C4F2;
  background: #25C4F2;
  color: #ffffff;
}

.gl-button-primary {
  border-radius: 6px;
  background: #25C4F2;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
}

.gl-button-primary:hover,
.gl-button-primary:focus {
  background: #55d1f5;
  color: #ffffff;
}

.banner-homepage-overlay {
  background: rgba(37, 196, 242, 0.7);
}

.banner-homepage-overlay .banner-find-consultant {
  margin-top: 7rem;
}

.banner-homepage-overlay .banner-find-consultant .banner-text {
  color: #ffffff;
  font-weight: 200;
  font-size: 42px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form {
  margin-top: 1rem;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover,
.banner-homepage-overlay .banner-find-consultant .banner-search-form:focus {
  border: 1px solid #cdf2fc;
  background: #cdf2fc;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-webkit-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-webkit-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-moz-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-moz-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover:-ms-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus:-ms-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::-ms-input-placeholder, .banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::-ms-input-placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:hover::placeholder,
.banner-homepage-overlay .banner-find-consultant .banner-search-form:focus::placeholder {
  color: #333333;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-webkit-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-moz-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form:-ms-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::-ms-input-placeholder {
  color: #ffffff;
}

.banner-homepage-overlay .banner-find-consultant .banner-search-form::placeholder {
  color: #ffffff;
}

.banner-index_header {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  background: #25c4f2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#25c4f2), to(#81d7ef));
  background: linear-gradient(to right, #25c4f2 0%, #81d7ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#25c4f2", endColorstr="#81d7ef",GradientType=1 );
  /* IE6-9 */
  height: 100px;
}

.banner-index_editprofile {
  height: 150px;
  background: #25c4f2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#25c4f2), to(#81d7ef));
  background: linear-gradient(to right, #25c4f2 0%, #81d7ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#25c4f2", endColorstr="#81d7ef",GradientType=1 );
  /* IE6-9 */
}

.card-panel {
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-panel .card-panel-title {
  font-weight: 200;
  font-size: 28px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.card-panel .card-link a {
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.container-editprofile {
  margin-top: -3rem;
}

.container-editprofile .sidebar-profile .profile-name {
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.container-editprofile .sidebar-profile .profile-join {
  color: #333333;
  font-weight: 400;
  font-size: 13px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.container-profile-consultant {
  margin-top: -7rem;
}

.card-consultant {
  border-radius: 10px;
}

.card-consultant .consultant-panel-body .consultant-name {
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-panel-body .consultant-name a {
  color: #25C4F2;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-panel-body .consultant-location {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-panel-body .consultant-rating {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-panel-body .consultant-rating .icon-rating {
  color: #ffed4a;
}

.card-consultant .nav-profile-consultant li a,
.card-consultant .nav-profile-consultant li .nav-profile-title {
  color: #333333;
  font-weight: 700;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .nav-profile-consultant li .nav-profile-content {
  color: #888888;
  font-weight: 400;
  font-size: 13px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-profile-name {
  color: #25C4F2;
  font-weight: 700;
  font-size: 36px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-profile-rating .icon-rating {
  color: #ffed4a;
  font-size: 14px;
}

.card-consultant .consultant-profile-rating .rating-level {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-consultant .consultant-profile-rating .rating-value {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.card-panel-feedbacks .feedbacks-title {
  color: #666666;
  font-weight: 700;
  font-size: 22px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.modal-dialog {
  border-radius: 6px;
}

.modal-dialog .modal-title {
  color: #666666;
  font-weight: 200;
  font-size: 24px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.dropdown-timepicker {
  border-radius: 6px;
}

.dropdown-timepicker .dropdown-timepicker-header {
  color: #666666;
  font-weight: 300;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  border-bottom: 2px solid #dddddd;
}

.dropdown-timepicker .dropdown-timepicker-content {
  height: 200px;
  overflow-y: scroll;
}

.dropdown-timepicker .dropdown-timepicker-content .nav-timepicker li a {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 6px;
  padding: 8px 16px;
}

.dropdown-timepicker .dropdown-timepicker-content .nav-timepicker li a:hover,
.dropdown-timepicker .dropdown-timepicker-content .nav-timepicker li a:active {
  background: #25C4F2;
  color: #ffffff;
}

.dropdown-timepicker .dropdown-timepicker-content .nav-timepicker li .active {
  background: #25C4F2;
  color: #ffffff;
}

.container-request-list .no-request-list {
  text-align: center;
  color: #333333;
  font-weight: 200;
  font-size: 28px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.container-request-list .card-request-list {
  border-radius: 6px;
  border: 1px solid #dddddd;
  background: #f9f9f9;
}

.container-request-list .card-request-list .request-time {
  color: #333333;
  font-weight: 200;
  font-size: 52px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.container-request-list .card-request-list .request-date {
  color: #333333;
  font-weight: 300;
  font-size: 24px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
  margin-top: -0.7rem;
}

.container-request-list .card-request-list .request-pic {
  color: #888888;
  font-weight: 300;
  font-size: 16px;
  font-stretch: normal;
  letter-spacing: 0.4px;
  font-family: "Nunito Sans", sans-serif;
}

.container-request-list .card-request-list .request-icon {
  color: #333333;
}

.container-request-list .card-request-list .request-icon:hover,
.container-request-list .card-request-list .request-icon:active {
  color: #25C4F2;
}

.container-request-list .card-request-list:hover {
  border: 1px solid #25C4F2;
  background: #25c4f2;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#25c4f2), to(#81d7ef));
  background: linear-gradient(to right, #25c4f2 0%, #81d7ef 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#25c4f2", endColorstr="#81d7ef",GradientType=1 );
  /* IE6-9 */
}

.container-request-list .card-request-list:hover .request-time,
.container-request-list .card-request-list:hover .request-date,
.container-request-list .card-request-list:hover .request-pic,
.container-request-list .card-request-list:hover .request-icon {
  color: #ffffff;
}

